
@{
    ViewData["Title"] = "UserInfo";
}

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/4.1/examples/checkout/form-validation.css" rel="stylesheet">



<div class="container">
    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Account Info</h4>
            <form class="needs-validation" novalidate method="post" action="/User/UpdateAccount">
                <div class="mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="@ViewBag.Username" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your username is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="@ViewBag.Email" readonly>
                    <div class="invalid-feedback">
                        Please enter a valid email address for.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="Please enter your new password." required>
                    <div class="invalid-feedback">
                        Please enter your new password.
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-danger btn-lg btn-block" type="submit">Update Your Account</button>
            </form>
        </div>
    </div>

